@{
    ViewData["Title"] = "Register";
}
<div class="text-center">
    <h2 class="display-4">Registration</h2>
</div>
<form method="post">
    <div class="row">
        <div class="col-4">Login:</div>
        <div class="col-8">
            <input type="text" name="login" />
        </div>
    </div>
    <div class="row">
        <div class="col-4">Password:</div>
        <div class="col-8"><input type="password" name="password" /></div>
    </div>
    <div class="row">
        <div class="col-4">Role:</div>
        <div class="col-2"> <select id="role" name="role" class="form-control" asp-items="@(new SelectList(@ViewBag.Roles,"ID", "Code"))"></select> </div>
    </div>
    <div class="row">
        <div class="col-8"></div>
        <div class="col-4"><input type="submit" value="Registration" class="btn btn-primary" /></div>
    </div> 
    @if (!string.IsNullOrEmpty(ViewBag.Message))
    {
        <script>alert("@ViewBag.Message");</script>
    }
</form>
